.App {
  text-align: center;
}

svg:not(:root) {
  overflow: none;
}

.svg-sun { fill: #debd25; }
.svg-symbol-sun * { fill: #f9ed32; }

svg {
  max-width: 100%;
  transform:scale(0.5);
}
day-container {
  max-width: 500px !important;
}
