body {
  font-family: 'Poppins', sans-serif;
}
/* App Stylings */
.App {
  text-align: center;
  padding-top: 30px;
}

/* SocialCard Stylings */
.social-card {
  width: 50%;
  margin: 0 auto;
}

.image-container {
  width: 100px;
  border-top: 1px solid #D2D4D1;
  padding-right: 10px;
  transform: translateY(1px);
}
/* SocialBar Stylings */
.favorited { color: #BA2310;}
.retweeted { color: #24D41D;}

.social-bar-value {
  margin-left: 5px;
}

#social-bar {
  border-bottom: 1px solid #D2D4D1;
  padding: 10px 60px;
  text-align: left;
}

#social-bar li {
  display: inline;
  padding: 20px;
}
#social-bar > ul > li > i {
  margin-left: 30px;
}

/* SocialCardHeading Stylings */
#social-heading-container {
  padding: 10px 15px;
  border-top: 1px solid #D2D4D1;
  display: flex;
}

.social-profile-pic {
  width: 100px;
  margin-top: 20px;
  margin-right: 10px;
  float: left;
}

.user-options-arrow {
  text-align: right;
  min-width:110px;
  display: inline-flex;
}

.user-options-arrow > i {
  margin-left: auto;
  margin-right: 0;
}

.social-heading {
  text-align: left;
}
.social-post-description {
  text-align: left;
}

/* SocialCardImage Stylings */
.card-image-container {
  width: 80%;
  margin-right: 0;
  margin-left: auto;
  transform: scaleX(20px);
}

.card-image {
  max-width: 100%;
  border: 1px solid #D2D4D1;
  border-radius: 5px;
}

.card-image-description {
  border: 1px solid #D2D4D1;
  max-width: 100%;
  border-radius: 5px;
  padding: 10px;
  transform: translateY(-8px);
  text-align: left;
}

.description-link {
  font-size: 80%;
}

/* Font Stylings */
font-bold { font-weight: bold; }
font-italic { font-weight: italic; }
